<p>Total revenue: <%= @revenue %><br/>
Total purchases: <%= @purchases.size %><br/>
Total purchasers: <%= @purchasers %><br/>
Total items: <%= @items %><br/>
Total merchants: <%= @merchants %></p>
<%= link_to "Click here to upload your data", new_subsidiary_datum_path, class: 'btn btn-primary' %>
<br>After uploading your file, refresh this page as much as necessary