<p>Total revenue: <%= @revenue %></p>
<p>Total purchases: <%= @purchases.size %></p>
<p>Total purchasers: <%= @purchasers %></p>
<p>Total items: <%= @items %></p>
<p>Total merchants: <%= @merchants %></p>
<%= link_to "Click here to upload your data", new_subsidiary_datum_path, class: 'btn btn-primary' %>